body{
	margin:0;
	padding:0;
	font-size:16px;
	font-family: 'Oswald', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,ul,li{
	margin:0;
	padding:0;
}
/*these styles are for all*/
.flex-column{
	display:flex;
	flex-direction:column;
	list-style:none;
}
.flex-row{
	display:flex;
	flex-direction:row;
}
.flex-wrap{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
.flex-space{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.transparent-button{
	padding:11px 0 9px;
	width:140px;
	text-align:center;
	font-size:14px !important;
	font-weight:600;
	color:#fff;
	background-color:transparent;
	border:1px solid #fff;
	border-radius:4px;
}
.transparent-button:hover{
	border:1px solid #447def;
	background-color:#447def;
	opacity:1;
}
.blue-button{
	padding:14px 0 10px 14px;
	font-size:14px;
	color:#fff;
	background-color:#447def;
	border:1px solid #447def;
	border-radius:3px;
	width:150px;
}

.blue-button:hover{
	color:#447def;
	background-color:transparent;
}
.white-button{
	padding:14px 0 10px 14px;
	font-size:15px;
	font-weight:700;
	color:#447def;
	background-color:#fff;
	border:1px solid #fff;
	border-radius:3px;
	margin-top:8%;
	width:150px;
}
.white-button:hover{
	color:#fff;
	background:transparent;
}

.list{
	list-style:none;
	display:flex;
	
}
.is-20{
	width:17%;
}
.is-80{
	width:83%;
}
.is-18{
	width:15%;
}
.is-50{
	width:48%;
}
.heading-white1{
	font-size:48px;
	color:#fff;
	font-weight:600;
	font-family: serif;
}
.white-para{
	font-size:14px;
	color:#fff;
	line-height:24px;
	margin:10px ;

}
.heading-black{
	font-size:30px;
	font-weight:800;
	font-family:Cardo, serif;
	position:relative;
	padding-bottom:7px;
}
.white-heading{
	color:#fff;
	font-size:35px;
	font-weight:700;
	position:relative;
	font-family: cardo, serif;
}
/*banner and header */
/*big screen header start*/
.header-and-banner{
	background-image:url("./image/banneBg.svg");
	background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -1px; 	

}
.header .desktop-header {
    display:block;
}
.header .desktop-header .in-header {
	align-items:center;
	padding-top:30px;
}
.header .desktop-header .in-header .logo a img{
	width: 82%;
    filter: invert(1);
    max-width:100%;
    font-size: 14px;
}
.header .desktop-header .in-header .naviagation {
	justify-content: flex-end;
}
.header .desktop-header .in-header .naviagation ul{
	flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
.header .desktop-header .in-header .naviagation ul li{
	padding: 8px 25px 8px 0;
}
.header .desktop-header .in-header .naviagation a{
	color:#fff;
	font-size:14px;
	text-decoration: none;
	display: block;
}
.header .desktop-header .in-header .naviagation a:hover{
	opacity: 0.6;
}
.header .desktop-header .in-header .naviagation .transparent-button:hover{
	opacity:1;
}
/*responsive header*/
.header .responsive-header{
    display:none;
    background-color: #fff;
}
.header .responsive-header .in-responsive-header {
    flex-direction: column;
    text-align: center;
}
.responsive-header .in-responsive-header .logo{
    display: flex;
    justify-content: space-between;
    position:relative;
    padding: 10px 0;
}
.responsive-header .in-responsive-header .logo a img{
    width: 100px;
    filter: invert(0);
    max-width:100%;
}

.responsive-header .in-responsive-header .logo span{
    position: absolute;
    top: 10px;
    font-size: 14px;
    right: calc(10% + 10px);
    display: inline-block;
    padding: 4px 18px;
    border-radius: 20px;
    border: 1px solid #447def;

}

.responsive-header .in-responsive-header .logo span a{
    text-decoration:none;
}
.responsive-header .in-responsive-header .logo i{
    position: relative;
    float: right;
    display: inline-block;
    width: 22px;
    height: 27px;
}
.in-responsive-header .logo i::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: #000;
    top: 21px;
    right: 0;
}
.in-responsive-header .logo i::after {
    content: "";
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 2px;
    top: 10px;
    left: 0;
    right: 0;
}
.responsive-header .in-responsive-header .naviagation ul{
    display:none;
}
#naviagation ul{
    display:none;
    transition:0.6s ease-in-out 0.30s;
}
 #naviagation.active ul{
    display:block;
     transition:0.6s ease-in-out 0.30s;
}
.responsive-header .in-responsive-header .naviagation ul li{
    width: 100%;
    text-align: center;
    padding:0;
}
.responsive-header .in-responsive-header .naviagation ul li a{
    display: block;
    color: #000;
    text-decoration: none;
    padding: 18px 0;
    width: 100%;

}
/*banner*/
.banner {
	padding: 5% 0 4%;
}
.banner .banner-inner {
	position:relative;
	width: 100%;
}
.banner .banner-inner .banner-img{
	/*position: relative;
    padding: 14% 0;*/
    width: 80%;
    display: block;
}
.banner .banner-inner .banner-img img{
	/*position: absolute;*/
    width: 100%;
    margin-right:calc((100% - 985px) / 2);
    /*height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: 10;*/

}

.banner .banner-inner .banner-text{
	position: absolute;
    width: 30%;
    top: 0;
    right: 170px;
    z-index: 11;
}
/*what-we-do*/
.what-we-do{
	background: #f6f6f8;
    padding: 4% 0;
}
.what-we-do .inner-what-we-do{
	width:100%;
} 
.what-we-do .inner-what-we-do .right{
	padding-right:6%;
}
.what-we-do .inner-what-we-do .right p{
	color:rgba(0,0,0,.7);
	margin:30px 0;
    line-height: 26px;
}
.what-we-do .inner-what-we-do .left{

}
.what-we-do .inner-what-we-do .left ul{
	padding-right:2%;
}
.what-we-do .inner-what-we-do .left ul li{
	width: Calc(33.33% - 10px);
    text-align: center;
    margin-right: 10px;
    padding: 30px 0;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow:0 0 4px 0 rgb(0 0 0 / 16%);
    transition: all 0.3s ease-in-out;
}
.what-we-do .inner-what-we-do .left ul li:hover{
	box-shadow:0 0 4px 0 rgb(0 0 0 / 16%);
    transform: scale(1.05);
}

.what-we-do .inner-what-we-do .left ul li a{
	text-decoration:none;
	color:#000;
}
.what-we-do .inner-what-we-do .left ul li a img{
    width: 100px;
    height: 60px;
}
.what-we-do .inner-what-we-do .left ul li a p{
	margin-top: 20px;
    height: 40px;
    line-height: 22px;
}

/*case-studies*/

.case-studies {
	width:100%;
	padding:4% 0;
}

.case-studies .inner-case .left{
	width: 33.33%;
    background-color: #447def;
    color: #fff;
    padding: 4%;
    align-items: center;
}

.case-studies .inner-case .left p{
    opacity: 0.7;
    margin: 8% 0 14%;
}
.is-50{
	width:48%;
}
.is-100{
	width:97.33%;
}

.case-studies .inner-case .right{
	width:66.667%;
}
.case-studies .inner-case .right .upper{
	margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    padding:13% 0;
    overflow: hidden;
    position: relative;
}
.case-studies .inner-case .right .upper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: rgba(61,135,209,0.5);
    z-index: 13;
    transition:all .3s ease-in-out;
}
.case-studies .inner-case .right .upper img{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 10;
}
.case-studies .inner-case .right .upper a p{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    font-size: 20px;
    opacity:0;
    transition:all .3s ease-in-out;
   /* background-color: rgba(61,135,209,0.5);*/
    z-index: 15;

}
/*hover on upper will take both after portion and p simultaneously*/
.case-studies .inner-case .right .upper:hover::after, .case-studies .inner-case .right .upper:hover a p{
	opacity:1;
}

.case-studies .inner-case .right .upper a{
	/*position:relative;*/
}
.case-studies .inner-case .right .lower{
	margin-left: 10px;
    margin-bottom: 0;
    border-radius: 4px;
    padding:14% 0;
    overflow: hidden;
    position: relative;
}
.case-studies .inner-case .right .lower::after{
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: rgba(61,135,209,0.5);
    z-index: 13;
    transition:all .3s ease-in-out;
}
.case-studies .inner-case .right .lower img{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 10;
}
.case-studies .inner-case .right .lower p{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    font-size: 20px;
    opacity:0;
    transition:all .3s ease-in-out;
     z-index: 15;
}

.case-studies .inner-case .right .lower:hover::after, .case-studies .inner-case .right .lower:hover p{
	opacity:1;
}

/*clients*/
.clients{
	padding:4% 0;
	background-color:#f6f6f6;
}
.clients .inner-clients .clients-left{
	width:54%;
	padding-right:7%;
}
.clients .inner-clients .clients-left ul li{
	position: relative;
    width: 33.33%;
    padding: 10% 0;
    overflow: hidden;
    filter: grayscale(1);
    border-bottom: 1px solid hsla(0, 0%, 81%);
    border-right: 1px solid hsla(0, 0%, 81%);
    transition: all .2s ease-in-out;
}
.clients .inner-clients .clients-left ul li img{
	position: absolute;
    width: 50%;
   /* height: 100%;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 12;
}
.clients .inner-clients .clients-left ul li:nth-child(3n+3){
	border-right: none;
}
.clients .inner-clients .clients-left ul .border-none{
	 border-bottom: none;
}
.clients .inner-clients .clients-left ul li:hover{
	filter: none;
}

.clients .inner-clients .clients-right{
	width:46%;
}

.clients .inner-clients .clients-right p{
	font-size: 15px;
    opacity: 0.8;
    line-height: 27px;
    margin: 30px 0;
}
.clients .inner-clients .clients-right .blue-button{
	    width: 180px;
}
/*industry-verticals start*/
.industry-verticals{
	padding:4% 0;
	background-color:#fff;
}
.industry-verticals .inner-industry-verticals .industry-display{
	width: 54%;
    background-color: #447def;
    color: #fff;
    text-align: center;
    padding: 12% 0;
    position: relative;
	
}

.industry-verticals .inner-industry-verticals .indusrties{
	width:46%;
	padding:4% 7% 4% 0;
}
.industry-verticals .inner-industry-verticals .indusrties h3{
	font-size: 29px;
    font-family: Cardo,serif;
    color: #447def;
    padding-left: 15%;
    font-weight: 600;
    margin-bottom: 35px;
    text-align: inherit;
}
.industry-verticals .inner-industry-verticals .indusrties ul li{
	display:block;
	font-size: 18px;
    padding: 12px 0;
    padding-left: 16%;
    margin-bottom: 8px;
    cursor:pointer;
}
.industry-verticals .inner-industry-verticals .indusrties ul li:hover,
.industry-verticals .inner-industry-verticals .indusrties ul li:visited {
    color: #fff;
    background-color: #447def;
    border-radius: 0 5px 5px 0;
} 
#aviation{
    display:block;
}
.name-box{
    display:none;
        width: 100%;
    text-align: center;
    padding: 15% 0;
}  

/*team*/
.team{
	padding:4% 0;
	background-color:#f6f6f6;
}
.team .inner-team .left{
    width: 41.2%;
    background-color: #447def;
    padding: 3% 5%;
    align-items: center;
}
/*.team .inner-team .left h2{
}*/
.team .inner-team .left p{
    color: #fff;
    opacity: 0.7;
    margin: 5% 0;
    line-height: 27px;
    position: relative;
}
.team .inner-team .right{
    width: 58.8%;
    position: relative;
    padding: 18% 0;
    overflow: hidden;
}
.team .inner-team .right img{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 10;
}

/*media-coverage*/
.media-coverage{
	background-color:#fff;
	padding:4% 0;
}
.media-coverage .inner-media h2{
	text-align:center;
	position:relative;
	margin-bottom:70px;
}

.media-coverage .inner-media .owl-carousel .item{

}
.media-coverage .inner-media .media .item a{
	display: block;
}
.media-coverage .inner-media .media .owl-stage {
	display: flex !important;
	align-items: center;
}
.media-coverage .inner-media .media .item a img{
	width: 70%;
    margin: 0 auto;
    filter: grayscale(1);
    display: block;
}

.media-coverage .inner-media .media .item img:hover{
    filter: grayscale(0);

}
/*blog*/
.blog{
	padding:4% 0;
	background-color:#f6f6f6;
}
.blog .inner-blog h2{
	text-align:center;
	margin-bottom:50px;
}
.blog .inner-blog .top-blogs .is-33{
	width: 30.33%;
    background-color: #fff;
    padding: 4%;
    border-radius: 8px;
    border: 1px solid hsla(0,0%,85%,.5);
}
.blog .inner-blog .top-blogs .is-33 span{
	color: #fff;
    background-color: #447def;
    padding: 10px 15px;
    margin-bottom: 23px;
    display: inline-block;
}
.blog .inner-blog .top-blogs .is-33 h3 a{
    font-size: 18px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-family: cardo, serif;
    position: relative;
    padding-bottom: 8px;
}
.blog .inner-blog .top-blogs .is-33 p{
	position: relative;
    margin: 9% 0 18%;
    opacity: 0.8;
    height: 165px;
    overflow: hidden;
}
.blog .inner-blog .top-blogs .is-33 .article-btn{
    text-decoration: none;
    color: #447def;
    transition: .5s ease-in-out;

}

.blog .inner-blog .top-blogs .is-33 .article-btn .fas{
    margin-left: 7px;
    transition: .5s ease-in-out;
}

.blog .inner-blog .top-blogs .is-33 .article-btn:hover .fas{
	margin-left: 18px;
}

.blog .inner-blog .view-blog-btn{
    text-align: center;
    margin-top: 50px;
}

/*contact*/
.contact .founder{
	width: 50%;
    padding: 4%;
    background-color: #ededf2;
    color: #000;
    text-align: center;
}
.contact .founder .founder-details .founder-img{
	position: relative;
    overflow: hidden;
    padding: 13% 0;
    margin: 0 36%;
    border-radius: 50%;
    border: 4px solid #447def;
}
.contact .founder .card-company .item{
	width:100%;
	display:flex!important;
}
.contact .founder .founder-details .founder-img img{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 50%;
    padding: 4px;
    z-index: 5;
}
.contact .founder .founder-details h5{
	font-size: 18px;
    font-weight: 600;
    margin: 26px 0 13px;
}
.contact .founder .founder-details h6{
    font-size: 15px;
    opacity: 0.4;
    font-weight: 400;
}
.contact .founder .founder-details p{
	opacity: 0.7;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    margin: 20px 0;
}
 /*.contact-form*/
.contact .contact-form{
	width: 50%;
    padding: 4% 7%;
    /*text-align: center;*/
    background-color: #447def;
    color: #fff;
}
.contact .contact-form h2{
	font-size:30px;
}
.contact .contact-form form{
	margin-top:9%;

}
.contact-form form ul li{
	display: block;
	width:47%;
    margin-right: 3%;
    margin-bottom: 8%;
}
.contact-form form ul li:nth-child(2n+2) {
	margin-right:0;
	margin-left: 3%;
}
.contact-form form ul li input{
	display: block;
    width: 100%;
    color: #f3f3f3;
    background: none;
    border: none;
    border-bottom: 1px solid #F7F2F2;
    font-size: 14px;
    padding: 7px 4px 7px 0;
}
.contact-form form ul li input:focus{
	/*border:none !important;*/
	border-bottom: 1px solid #F7F2F2;
    outline:none;
}
/*.contact-form form ul li input:focus,{
}*/

.contact-form form ul li input::placeholder {
	color:#fff;
	opacity:0.5;
}

.contact-form form ul .interest-option #interest-dropdwn{
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #f7f2f2;
    padding: 7px 4px 7px 0;
    font-size: 14px;
    color:#fff;
}
.contact-form form ul .interest-option #interest-dropdwn:focus {
    outline:none;

}
.contact-form form ul .interest-option #interest-dropdwn option, optgroup, .contact-form form ul .price #price-range  option, optgroup {
    color:#000;

}
.contact-form form ul .price #price-range{
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #f7f2f2;
    padding: 7px 4px 7px 0;
    font-size: 14px;
    color:#fff;

}

.contact-form form ul .price #price-range:focus{
    outline:none;
}
.contact-form textarea{
     margin-bottom: 24px;
    padding: 7px 0;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #f2f2f7;
    height: 110px;
    color: #fff;
}
.contact-form textarea::placeholder {
    color:#fff;
    opacity:0.5;
}
.contact-form textarea:focus{
    outline:none;
}
/*footer*/
.footer{
	padding: 4% 0;
    background-color: #313131;
}
.footer .inner-footer{
	width:100%;
	color:#fff;
}
.footer .inner-footer .is-15{
	width:15.66%;
}

.footer .inner-footer .xencove-footer{
	width:33.33%;
	padding-left: 35px;
}
.footer .inner-footer h6{
    margin-bottom: 18px;
    font-size: 14px;
    font-weight: 700;
    position:relative;
}
.footer .inner-footer ul li{
    padding: 3px 0;
    line-height: 25px;
}
.footer .inner-footer ul li a, p a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    opacity: 0.5;
}
.footer .inner-footer ul li a:hover{
    opacity:1;
    color:#fff;
}
.footer .inner-footer .contact-footer ul li:nth-child(3) {
  color: #fff;
   font-size: 13px;
    opacity: 0.5;
}
.footer .inner-footer p a:hover{
     color: #fff;
      opacity: 0.5;
}
.footer .inner-footer .xencove-footer h6 img{
    width: 170px;
    filter: brightness(100);
    margin-bottom: 30px;
}
.footer .inner-footer .xencove-footer p{
    margin-top:15px;
}
.footer .inner-footer .xencove-footer ul li a{
    color: #fff;
    opacity: 1;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 12px;
}
.footer .inner-footer .xencove-footer ul li a:hover{
    color: #447def;
    background: #fff;
    transition: all 0.2s ease-in-out;
}
.footer .inner-footer .xencove-footer ul li:nth-child(1n+2) {
    margin-left:5px;
}


@media screen and /*(min-device-width: 300px) and*/ (max-width: 600px) {
    h1 {
        font-size: 22px !important;
    }
    h2 {
        font-size: 20px !important;
    }
    h3 {
        font-size: 18px !important;
    }
    h4 {
        font-size: 16px !important;
    }
    h5 {
        font-size: 14px !important;
    }
    h6 {
        font-size: 12px !important;
    }
    p {
        font-size: 12px !important;
    }
    .is-20{
        width:100%;
    }
    .is-80{
        width:100%;
    }
    .is-18{
        width:100%;
    }
    .is-50{
        width:100%;
    }
    .white-button{
        padding:12px 0 8px 12px;
        font-size:12px;
    }
    .blue-button{
        padding:12px 0 8px 12px;
        font-size:12px;
    }
    .header .desktop-header {
        display:none;
    }
    .header .responsive-header{
        display:block;
    }
    /*.desktop-header {
        background-color: #fff;
    }
    .desktop-header .in-header {
        flex-direction: column !important;
        text-align: center;
        padding:10px 0 !important;
    }

    .header .desktop-header .in-header .logo a img {
        width: 100px;
        filter: none;
}
    }

    .header .desktop-header .in-header .naviagation {
        justify-content: flex-end;
        text-align: center;
    }*/
   /* .naviagation ul {
        flex-direction: column;
        display: none;
    }

    .naviagation.active ul {
        display: block;
    }*/
    .banner .banner-inner .banner-img {
        display: none;
    }
    .banner .banner-inner .banner-text {
        position: static;
        width: 100%;
        padding: 50px 0;
        margin: 0 10px;
    }
    .banner .banner-inner .banner-text p{
        margin: 10px 0;
    }

    .banner-inner .banner-text .white-button{
        width: 130px;
    }

    .what-we-do .inner-what-we-do {
        width: 100%;
        flex-direction: column;
    }
    .what-we-do .inner-what-we-do .left {
        margin-top: 50px;
    }
    .what-we-do .inner-what-we-do .left ul {
        padding-right: 0%;
        flex-wrap: wrap !important;
    }
    .what-we-do .inner-what-we-do .left ul li {
        width: Calc(50% - 10px);
    }
    .what-we-do .inner-what-we-do .left ul li a img {
        width: 100px;
        height: 40px;
    }
    .inner-what-we-do .left ul li:nth-child(2n+2) {
        margin-right: 0;
        margin-left: 10px;
    }
    .case-studies {
        padding: 40px 0;
    }

    .case-studies .inner-case{
        flex-direction: column;
    }
   .case-studies .inner-case .left {
        width: 100%;
        padding: 10%;
        margin-bottom: 10px;
    }
    .case-studies .inner-case .left .white-button {
        margin-top: 0;
    }
    .case-studies .inner-case .right {
        width: 100%;
    }
    .case-studies .inner-case .right .upper {
        margin-left: 0px;
        padding: 28% 0;
    }
    .case-studies .inner-case .right .lower {
        margin-left: 0;
        width: 100%;
        padding: 18% 0;
    }
    .clients {
        padding: 40px 0;
    }
     .clients .inner-clients{
        flex-direction: column-reverse !important;
    }
    .clients .inner-clients .clients-right {
        width: 100%;
    }
    .clients .inner-clients .clients-left {
        width: 100%;
        padding-right: 0;
        margin-top: 40px;
    }
    .clients .inner-clients .clients-left ul li {
       width: 50%;
        padding: 15% 0;
        border-bottom: 1px solid hsla(0, 0%, 81%) !important;
        border-right: 1px solid hsla(0, 0%, 81%)!important;
    }
    .clients .inner-clients .clients-left ul li img {
        width: 68%;
    }
    .inner-clients .clients-left ul li:nth-child(2n+2) {
        border-right: none !important;
    }
    .inner-clients .clients-left ul li:last-child {
        border-bottom: none !important;
    }
    /*to be done later*/
    .industry-verticals {
        padding: 40px 0;
    }
    .inner-industry-verticals{
        flex-direction: column;
    }
    .industry-verticals .inner-industry-verticals .industry-display{
        width: 100%;
    }
     .industry-verticals .inner-industry-verticals .indusrties {
        width: 100%;
        text-align:center;
    }
    .industry-verticals .inner-industry-verticals .indusrties ul li {
        padding-left: 0%;
        font-size: 13px;
        padding: 7px 0;
    }
    /*team*/
    .team {
        padding: 40px 0;
    }
    .team  .inner-team {
        flex-direction: column-reverse !important;
    }
    .team .inner-team .left {
        width: 100%;
        padding: 10%;
    }
    .team .inner-team .left .white-button{
        padding: 12px 0 8px 12px;
        font-size: 13px;
        margin-top: 4%;
    }
    .team .inner-team .right {
        width: 100%;
        padding: 30% 0;
    }
    .media-coverage {
        padding: 40px 0;
    }
    .media-coverage .inner-media .media .item a img {
        width: 70%;
        filter: grayscale(0);
    }
   .blog {
        padding: 40px 0;
    }
    .blog .top-blogs {
        flex-direction: column;
    }
    .blog .inner-blog .top-blogs .is-33 {
        width: 100%;
        margin: 7px 0;
        padding: 8%;
    }
    .blog .inner-blog .top-blogs .is-33 p {
        margin: 14px 0;
        height: auto;
    }
    .blog .inner-blog .view-blog-btn {
        margin-top: 20px;
    }

    .inner-contact.flex-row {
        flex-direction: column !important;
    }
    .contact .founder {
        width: 100%;
    }
     .contact .founder .owl-stage {
        width: 100%;
    }
     .contact .founder  .founder-details {
        padding: 40px 10%;
    }
    .contact .founder .founder-details .founder-img {
        padding: 20% 0;
        margin: 0 29%;
        border: 3px solid #447def;
    }
    .contact .contact-form {
        width: 100%;
        padding: 40px 10%;
    }
    .footer {
        padding: 40px 0;
    }
    .footer  .inner-footer {
        flex-wrap: wrap;   
        padding: 0 20px;

    }
    .footer .inner-footer .is-15 {
        width: 50%;
        margin-bottom: 30px;
    }
    .footer .inner-footer .xencove-footer {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .footer .inner-footer .xencove-footer h6 img {
        width: 140px;
        margin-bottom: 8px;
    }
    .footer .inner-footer .xencove-footer ul {
        justify-content: center;
    }

}

@media screen and (max-width: 751px) and (min-width: 600px) {
    h1 {
        font-size: 24px !important;
    }
    h2 {
        font-size: 22px !important;
    }
    h3 {
        font-size: 20px !important;
    }
    h4 {
        font-size: 18px !important;
    }
    h5 {
        font-size: 16px !important;
    }
    h6 {
        font-size: 14px !important;
    }
    p {
        font-size: 14px !important;
    }
    .is-20{
        width:100%;
    }
    .is-80{
        width:100%;
    }
    .is-18{
        width:100%;
    }
    .is-50{
        width:100%;
    }
    .white-button{
        padding:14px 0 10px 14px;
        font-size:12px;
    }
    .blue-button{
        padding:12px 0 8px 12px;
        font-size:12px;
    }
    .header .desktop-header {
        display:none;
    }
    .header .responsive-header{
        display:block;
    }
    .banner .banner-inner .banner-img {
        display: none;
    }
    .banner .banner-inner .banner-text {
        position: static;
        width: 100%;
        padding: 50px 0;
        margin: 0 10px;
    }
    .banner .banner-inner .banner-text p{
        margin: 10px 0;
    }

    .banner-inner .banner-text .white-button{
        width: 130px;
    }

    .what-we-do .inner-what-we-do {
        width: 100%;
        flex-direction: column;
    }
    .what-we-do .inner-what-we-do .left {
        margin-top: 50px;
    }
    .what-we-do .inner-what-we-do .left ul {
        padding-right: 0%;
        flex-wrap: wrap !important;
    }
    .what-we-do .inner-what-we-do .left ul li {
        width: Calc(50% - 10px);
    }
    .what-we-do .inner-what-we-do .left ul li a img {
        width: 100px;
        height: 40px;
    }
    .inner-what-we-do .left ul li:nth-child(2n+2) {
        margin-right: 0;
        margin-left: 10px;
    }
    .case-studies {
        padding: 40px 0;
    }

    .case-studies .inner-case{
        flex-direction: column;
    }
   .case-studies .inner-case .left {
        width: 100%;
        padding: 10%;
        margin-bottom: 10px;
    }
    .case-studies .inner-case .left .white-button {
        margin-top: 0;
    }
    .case-studies .inner-case .right {
        width: 100%;
    }
    .case-studies .inner-case .right .upper {
        margin-left: 0px;
        padding: 28% 0;
    }
    .case-studies .inner-case .right .lower {
        margin-left: 0;
        width: 100%;
        padding: 18% 0;
    }
    .clients {
        padding: 40px 0;
    }
     .clients .inner-clients{
        flex-direction: column-reverse !important;
    }
    .clients .inner-clients .clients-right {
        width: 100%;
    }
    .clients .inner-clients .clients-left {
        width: 100%;
        padding-right: 0;
        margin-top: 40px;
    }
    .clients .inner-clients .clients-left ul li {
       width: 50%;
        padding: 15% 0;
        border-bottom: 1px solid hsla(0, 0%, 81%) !important;
        border-right: 1px solid hsla(0, 0%, 81%)!important;
    }
    .clients .inner-clients .clients-left ul li img {
        width: 68%;
    }
    .inner-clients .clients-left ul li:nth-child(2n+2) {
        border-right: none !important;
    }
    .inner-clients .clients-left ul li:last-child {
        border-bottom: none !important;
    }
    /*to be done later*/
    .industry-verticals {
        padding: 40px 0;
    }
    .inner-industry-verticals{
        flex-direction: column;
    }
    .industry-verticals .inner-industry-verticals .industry-display{
        width: 100%;
    }
     .industry-verticals .inner-industry-verticals .indusrties {
        width: 100%;
        text-align:center;
    }
    .industry-verticals .inner-industry-verticals .indusrties ul li {
        padding-left: 0%;
        font-size: 14px;
        padding: 7px 0;
    }
    /*team*/
    .team {
        padding: 40px 0;
    }
    .team  .inner-team {
        flex-direction: column-reverse !important;
    }
    .team .inner-team .left {
        width: 100%;
        padding: 10%;
    }
    .team .inner-team .left .white-button{
        padding: 12px 0 8px 12px;
        font-size: 13px;
        margin-top: 4%;
    }
    .team .inner-team .right {
        width: 100%;
        padding: 30% 0;
    }
    .media-coverage {
        padding: 40px 0;
    }
    .media-coverage .inner-media .media .item a img {
        width: 70%;
        filter: grayscale(0);
    }
   .blog {
        padding: 40px 0;
    }
    .blog .top-blogs {
        flex-direction: column;
    }
    .blog .inner-blog .top-blogs .is-33 {
        width: 100%;
        margin: 7px 0;
        padding: 8%;
    }
    .blog .inner-blog .top-blogs .is-33 p {
        margin: 14px 0;
        height: auto;
    }
    .blog .inner-blog .view-blog-btn {
        margin-top: 20px;
    }

    .inner-contact.flex-row {
        flex-direction: column !important;
    }
    .contact .founder {
        width: 100%;
    }
     .contact .founder .owl-stage {
        width: 100%;
    }
     .contact .founder  .founder-details {
        padding: 40px 10%;
    }
    .contact .founder .founder-details .founder-img {
        padding: 20% 0;
        margin: 0 29%;
        border: 3px solid #447def;
    }
    .contact .contact-form {
        width: 100%;
        padding: 40px 10%;
    }
    .footer {
        padding: 40px 0;
    }
    .footer  .inner-footer {
        flex-wrap: wrap;   
        padding: 0 20px;

    }
    .footer .inner-footer .is-15 {
        width: 50%;
        margin-bottom: 30px;
    }
    .footer .inner-footer .xencove-footer {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .footer .inner-footer .xencove-footer h6 img {
        width: 140px;
        margin-bottom: 8px;
    }
    .footer .inner-footer .xencove-footer ul {
        justify-content: center;
    }

}

@media screen and (min-width: 750px) and (max-width: 1150px) {
     h1 {
        font-size: 22px !important;
    }
    h2 {
        font-size: 20px !important;
    }
    h3 {
        font-size: 18px !important;
    }
    h4 {
        font-size: 16px !important;
    }
    h5 {
        font-size: 14px !important;
    }
    h6 {
        font-size: 12px !important;
    }
    p {
        font-size: 12px !important;
    }
    .transparent-button {
        padding: 8px 0 7px;
        width: 125px;
        font-size: 12px !important;
    }
    .header .desktop-header .in-header .naviagation a {
        font-size: 12px;
    }
    .header .desktop-header .in-header .naviagation ul li {
        padding: 8px 12px 8px 0;
    }
    .what-we-do .inner-what-we-do .left {
        width: 49%;
    }
    .case-studies .inner-case .right .upper {
        padding: 2% 0%;
        width: 46%;
        margin-left: 16px;
    }

}
